@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&family=Ubuntu:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap');
body {
    background-image: url("../img/123321.png");
    background-repeat:no-repeat ;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    height: 770px;
    font-family: Ubuntu sans-serif;
}

.navbar {
    width: 1519px;
    height: 58px;
    background: black;
    opacity: 40%;
    display: block;
    max-width: 100%;
    min-width: 100%;
}

.nav-text a{
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
    color: white;
    position: relative;
    top: -40px;
    left: 79px;
    text-decoration: none;
}

.nav-text a:hover {
    color: #236D47;
    transition: 0.3s;
}

.date {
    position: relative;
    top: -65px;
    left: 980px;
}

.date:hover {
    content: url("../img/greendate.svg");
    transition: 0.3s;
}

.msg  {
    position: relative;
    top: -65px;
    left: 1025px;
}

.msg:hover {
    content: url("../img/greenmsg.svg");
    transition-delay:0.5s ;
    width: 23px;
    height: 23px;
}


.comp {
    position: relative;
    top: -64px;
    left: 1065px;
}

.comp:hover {
    content: url("../img/greencomp.svg");
}

.separator {
    width: 1px;
    height: 19px;
    color: white;
    background: white;
    position: relative;
    left: 1200px;
    top: -87px;
}

.login {
    color: white;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    text-decoration: none;
    position: relative;
    top: -118px;
    left: 1298px;
}

.login:hover {
    color: #236D47;
    transition: 0.3s;
}

.between {
    position:relative;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    top: -132px;
    left: 1340px;
    color: white;
    width: 5px;
}

.signup {
    color: white;
    text-decoration: none;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    position: relative;
    top: -148px;
    left: 1360px;
}

.signup:hover {
    color: #236D47;
    transition: 0.3s;
}

.login2:hover {
    color: white;
    transition: 0.3s;
}

.start {
    color: white;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    position: relative;
    top: -102px;
    left: 1230px;
    width: 6px;

}

.head-content {
    position: relative;
    left: 0px;
}


.main-container {
    display: flex;
    background: white;
    width: 444px;
    height: 584px;
    position: relative;
    top: -70px;
    margin: 0 auto;
}

.green-box {
    width: 18px;
    height: 18px;
    color: #3CB878;
    background: #3CB878;
    position: absolute;
    top: 29px;
}

.main-signup {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 20px ;
    line-height: 20px;
    color: #434343;
    position: absolute;
    top: 27px;
    left: 61px;

}

.main-login {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #3CB878;
    position: absolute;
    top: 33px;
    left: 346px;
    text-decoration: none;
}

.main-login:hover   {
    text-decoration: underline;
}

.facebook-button {
    width: 160px;
    height: 48px;
    background-color: #305DB8;
    position: absolute;
    top: 60px;
    left: 60px;
    border: none;
    border-radius: 5px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: white;
    background-image: url("../img/facebook.png"), url("../img/facerec.png");
    background-repeat: no-repeat , no-repeat;
    background-position: 10px center , 48px center;
    text-indent: 40px;
}

.facebook-button:hover  {
    cursor: pointer;
    background-color: #022263;
}

.google {
    width: 160px;
    height: 48px;
    background-color: #DF4A32;
    position: absolute;
    left: 224px;
    top: 60px  ;
    border: none;
    border-radius: 5px;
    color: white;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    background-image: url("../img/G+.png"), url("../img/googlerec.png");
    background-repeat: no-repeat, no-repeat;
    background-position: 10px center , 50px center;
    text-indent: 50px;

}

.google:hover {
    cursor: pointer;
    background-color: #AB1F09;
}

.first-line {
    width: 152px;
    height: 1px;
    background-color: #F2F2F2;
    color: #F2F2F2;
    position: absolute;
    left: 58px;
    top: 148px;
}

.or {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #848484;
    position: absolute;
    top: 139px;
    left: 215px;
}

.second-line {
    width: 152px;
    height: 1px;
    background-color: #F2F2F2;
    color: #F2F2F2;
    position: absolute;
    left: 232px;
    top: 148px;
}

.input1 {
    width: 322px;
    height: 44px;
    position: absolute;
    left: 59px;
    top: 164px;
    text-indent: 20px;
    border: 1px solid #F2F2F2;
    outline: none;
    border-radius: 3px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;

}
.input1::placeholder {
    text-align: left;
    text-indent: 20px;
    border: none;
    color: #BEBEBE;
}
.input1:focus {
    box-shadow: 2px 3px 7px 2px rgba(0,0,1,0.1);
    border: 1px;
}

.input2 {
    width: 322px;
    height: 44px;
    position: absolute;
    left: 59px;
    top: 225px;
    text-indent: 20px;
    border: 1px solid #F2F2F2;
    outline: none;
    border-radius: 3px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;

}
.input2::placeholder {
    text-align: left;
    text-indent: 20px;
    border: none;
    color: #BEBEBE;
}
.input2:focus {
    box-shadow: 2px 3px 7px 2px rgba(0,0,1,0.1);
    border: 1px;
}

.input3 {
    width: 322px;
    height: 44px;
    position: absolute;
    left: 59px;
    top: 284px;
    text-indent: 20px;
    border: 1px solid #F2F2F2;
    outline: none;
    border-radius: 3px ;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #BEBEBE;
}
.input3::placeholder {
    text-align: left;
    text-indent: 20px;
    border: none;
    color: #BEBEBE;
}
.input3:focus {
    box-shadow: 2px 3px 7px 2px rgba(0,0,1,0.1);
    border: 1px;
}

.input4 {
    width: 322px;
    height: 44px;
    position: absolute;
    left: 59px;
    top: 343px;
    text-indent: 20px;
    border: 1px solid #F2F2F2;
    outline: none;
    border-radius: 3px ;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #BEBEBE;
}
.input4::placeholder {
    text-align: left;
    text-indent: 20px;
    border: none;
    color: #BEBEBE;
}
.input4:focus {
    box-shadow: 2px 3px 7px 2px rgba(0,0,1,0.1);
    border: 1px;
}

.input5 {
    width: 322px;
    height: 44px;
    position: absolute;
    left: 59px;
    top: 403px;
    text-indent: 20px;
    border: 1px solid #F2F2F2;
    outline: none;
    border-radius: 3px ;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #BEBEBE;
}
.input5::placeholder {
    text-align: left;
    text-indent: 20px;
    border: none;
    color: #BEBEBE;
}
.input5:focus {
    box-shadow: 2px 3px 7px 2px rgba(0,0,1,0.1);
    border: 1px;
}

input[type="checkbox"] {
    display: none;
}
input[type="checkbox"] + label:before {
    content: "\2714";
    display: inline-block;
    margin-right: 5px;
    font-size: 16px;
    color: white;
    background-color: white;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    border: 1px solid #F2F2F2;
    position: absolute;
    top: 460px;
    left: 59px;
}
input[type="checkbox"]:checked + label:before {
    content: "\2714";
    background-color: white;
    color: green;
}

.check:hover {
    cursor: pointer;
}

.agree {
    position: absolute;
    left: 90px;
    top: 462px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;

}


span {
   color:  #3CB878
}
a {
    text-decoration: none;
}

.create {
    width: 324px;
    height: 46px;
    background-color: #3CB878CC;
    position: absolute;
    left: 60px;
    top: 500px  ;
    border: none;
    border-radius: 5px;
    color: white;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    opacity: 0.8;

}

.create:hover {
    cursor: pointer;
    background-color: #01813F
}